<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% include title %}</title>
  <meta name="description" content="{% include description %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{% include canonical %}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!-- facebook share stuff -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% include title %}">
  <meta property="og:description" content="{% include description %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="leigh hackspace">
  <meta property="og:image" content="/images/logo.png">
  <meta property="og:locale" content="en_GB">
</head>
